::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb:hover {
  background: black;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
  background-color: #161a22;
  color: rgba(255, 255, 255, 0.8);
}

.btn-group {
  border: none !important;
}

.btn-group .btn a i.fa {
  font-size: 20px;
}

.btn-primary {
  background-color: rgba(0, 0, 0, 0) !important;
  border-color: rgba(0, 0, 0, 0) !important;
}

a,
a:visited,
a:-webkit-any-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

a,
a:visited,
a:-moz-any-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

a,
a:visited,
a:any-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

a:hover,
a:visited:hover,
a:-webkit-any-link:hover {
  color: #0dc1f7;
}

a:hover,
a:visited:hover,
a:-moz-any-link:hover {
  color: #0dc1f7;
}

a:hover,
a:visited:hover,
a:any-link:hover {
  color: #0dc1f7;
}

h2.title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bolder;
  position: relative;
  font-family: "Montserrat", sans-serif;
  color: #0dc1f7;
}

hr.divider {
  color: #007ba0;
}

.sub-heading {
  color: #0dc1f7 !important;
  font-size: 1.2rem;
  font-weight: 600 !important;
}

.loading {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landingpage {
  width: 100%;
  min-height: 100vh;
  background-image: url("bg.png");
  background-color: #161a22;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1031;
}

.landingpage .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 10vh;
  top: 0;
  width: 100%;
}

.landingpage .header .header-logo {
  text-align: center;
  margin-left: 30px;
  cursor: pointer;
}

.landingpage .header .header-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.landingpage .header .header-items a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.4rem;
  color: #0dc1f7;
  padding: 0px 1.5rem;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.landingpage .header .header-items a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.landingpage .overlay {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #161a2285;
  z-index: 11;
  text-align: center;
}

.landingpage .overlay .loader {
  z-index: 13;
  background-color: #161a22;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landingpage .overlay h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8);
  font-size: 3rem;
  letter-spacing: 2px;
}

.landingpage .overlay button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.4rem;
  border: 1px solid #0dc1f7;
  display: block;
  border-radius: 50ex;
  padding: 0.6rem 2rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: 20px 20px 6px #00000029;
          box-shadow: 20px 20px 6px #00000029;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 5vh;
}

.landingpage .overlay button:hover {
  background-color: #0dc1f7;
}

.landingpage .overlay button:focus {
  outline: none;
}

.about {
  width: 100%;
  min-height: 100vh;
}

.about .card-deck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .card-deck .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 180px;
}

.about .card-deck .card img {
  height: 50px;
}

.about .card-deck .card p {
  margin-top: 15px;
}

.about iframe {
  border: none;
  width: 100%;
  height: 200px;
}

.about .navbar {
  background-color: #161a22 !important;
  -webkit-box-shadow: 0px 6px 6px #00000029;
          box-shadow: 0px 6px 6px #00000029;
}

.about .navbar .navbar-nav {
  margin-left: auto;
}

.about .navbar .navbar-nav .nav-item .nav-link {
  color: #0dc1f7 !important;
}

@media (max-width: 800px) {
  .about iframe {
    border: none;
    width: 70%;
  }
  .about .card-deck {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .card-deck .card {
    width: 200px;
    margin-right: 10px;
  }
  .about .card-deck .card p {
    margin-top: 10px;
    font-size: 0.7rem;
  }
}

.container {
  margin-top: 16vh;
}

.container .card-deck .card {
  background-color: #161a22;
  -webkit-box-shadow: 20px 20px 6px #00000029;
          box-shadow: 20px 20px 6px #00000029;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  padding: 0.5rem;
}

@media (max-width: 900px) {
  .container {
    max-width: 610px;
  }
}

.achievement {
  width: 100%;
  min-height: 100vh;
}

.achievement .row .col-sm-8 .card {
  background-color: #161a22;
  -webkit-box-shadow: 20px 20px 6px #00000029;
          box-shadow: 20px 20px 6px #00000029;
}

.achievement .row .col-sm-8 .card .row .col-sm-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.achievement .row .col-sm-4 {
  -webkit-transform: translateY(15%);
          transform: translateY(15%);
}

.achievement .row .col-sm-4 iframe {
  border: none;
  width: 100%;
}

@media (max-width: 900px) {
  .achievement .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .achievement .row .col-sm-4 iframe {
    width: 85%;
  }
}

.sponsors {
  width: 100%;
  min-height: 100vh;
}

.sponsors .container .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sponsors .container .card-container .cards {
  width: 250px;
  height: 180px;
  -webkit-box-shadow: 20px 20px 6px #00000029;
          box-shadow: 20px 20px 6px #00000029;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sponsors .container .card-container .cards a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sponsors .container .card-container .cards a img {
  height: 50px;
  max-width: 100%;
}

.sponsors .container .card-container .cards a p {
  margin-top: 10px;
}

.sponsors .container .mentor .card {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #161a22;
  -webkit-box-shadow: 20px 20px 6px #00000029;
          box-shadow: 20px 20px 6px #00000029;
  width: 250px;
  height: 180px;
}

@media (max-width: 717px) {
  .sponsors .container .card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-bottom: 50px;
    padding-bottom: 100px;
  }
  .sponsors .container .card-container .cards {
    margin-top: 15px;
  }
}

.posts {
  width: 100%;
  min-height: 100vh;
}

.posts .container .img-modal {
  z-index: 1500;
  position: fixed;
  top: 10vh;
  width: 85%;
  height: 80vh;
  background-color: #161a22;
  -webkit-box-shadow: 20px 20px 20px #00000029;
          box-shadow: 20px 20px 20px #00000029;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.posts .container .img-modal img {
  width: 42%;
  height: auto;
}

.posts .container .img-modal .closecursor {
  color: #0dc1f7;
  font-size: 2rem;
  cursor: pointer;
  padding-left: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.posts .container .img-modal .closecursor:hover {
  color: rgba(255, 255, 255, 0.8);
}

.posts .container .row .flow-control {
  height: 75vh !important;
  position: relative;
}

.posts .container .row .flow-control .row .col-sm-4 img {
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.posts .container .row .flow-control .row .col-sm-4 img:hover {
  -webkit-box-shadow: 20px 20px 20px #00000029;
          box-shadow: 20px 20px 20px #00000029;
  border: 4px solid #0dc1f7;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.posts .container .row .col-sm-3 .list-group {
  background-color: #161a22;
}

.posts .container .row .col-sm-3 .list-group .list-group-item {
  background-color: #161a22 !important;
}

.posts .container .row .col-sm-3 .list-group .list-group-item .active {
  border-color: #0dc1f7;
}

.posts .container .row .col-sm-9 .row .col-sm-6 iframe {
  border: none;
  width: 100%;
}

.posts .container .row .col-sm-3 .list-group .list-group-item {
  cursor: pointer;
}

@media (max-width: 717px) {
  .posts .container .row .flow-control {
    height: 60vh !important;
  }
}

.teams {
  width: 100%;
  min-height: 100vh;
}

.teams .container .card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 250px 250px 250px 250px 250px;
      grid-template-columns: 250px 250px 250px 250px 250px;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 10px;
  width: 100%;
  overflow-x: scroll;
}

.teams .container .card-container .cards {
  width: 250px;
  height: 180px;
  -webkit-box-shadow: 20px 20px 6px #00000029;
          box-shadow: 20px 20px 6px #00000029;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.teams .container .card-container .cards .card-button {
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.8);
}

.teams .container .card-container .cards .card-button img {
  height: 70px;
}

.teams .container .card-container .cards .card-button:hover {
  color: #0dc1f7;
}

.teams .container .card-container .cards .card-button:focus {
  outline: none;
}

.teams .container .card-container .cards .modal .modal-header,
.teams .container .card-container .cards .modal .modal-body,
.teams .container .card-container .cards .modal .modal-footer {
  background-color: #161a22 !important;
  border-top: 1px solid #161a22;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.teams .container .card-container .cards .modal .modal-header button.close {
  text-shadow: none;
  color: #0dc1f7;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.teams .container .card-container .cards .modal .modal-header button.close:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.teams .container .card-container .cards .modal .modal-body .img-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.teams .container .card-container .cards .modal .modal-body .img-flex .profile-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.teams .container .card-container .cards .modal .modal-body .img-flex .profile-modal img.profile {
  border-radius: 70em;
  height: 70px;
}

.teams .container .card-container .cards .modal .modal-body .img-flex .profile-modal a {
  margin-top: 4px;
}

.teams .container .card-container .cards .modal .modal-body .img-flex .profile-modal p {
  font-size: 0.7rem;
}

.teams .container .card-container .cards .modal .modal-content {
  background-color: rgba(0, 0, 0, 0);
}

.contact {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.contact .toast {
  margin-top: 12vh;
}

.contact .row .form {
  background-color: #161a22;
  -webkit-box-shadow: 20px 20px 6px #00000029;
          box-shadow: 20px 20px 6px #00000029;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.75rem 0rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .row .form div.headliner {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.4rem;
  color: #0dc1f7;
  border: none;
}

.contact .row .form input {
  width: 80%;
  margin: auto;
  margin-top: 2vh;
  padding: 0.75rem 0rem;
  background-color: rgba(0, 0, 0, 0) !important;
  border: none;
  border-bottom: 1px solid #0dc1f7;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.2rem;
}

.contact .row .form input:focus {
  outline: none;
}

.contact .row .form button {
  margin-top: 1.5rem;
  border: 1px solid #0dc1f7;
  display: block;
  border-radius: 50ex;
  padding: 0.6rem 2rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: 20px 20px 6px #00000029;
          box-shadow: 20px 20px 6px #00000029;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.2rem;
}

.contact .row .form button:hover {
  background-color: #0dc1f7;
}

.contact .row .form button:focus {
  outline: none;
}

.contact .footer {
  position: absolute;
  left: 0;
  bottom: -50px;
  width: 100%;
  background-color: #161a22;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  -webkit-box-shadow: -20px -20px 20px #00000029;
          box-shadow: -20px -20px 20px #00000029;
}

.contact .footer #heart {
  color: #d1046b;
  padding: 0.2rem 0.4rem;
  padding-bottom: 0rem;
}

@media (max-width: 717px) {
  .contact .footer {
    bottom: -130px;
  }
}
/*# sourceMappingURL=style.css.map */