::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb:hover {
  background: black;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
  background-color: #161a22;
  color: rgba(255, 255, 255, 0.8);
}

.btn-group {
  border: none !important;
}

.btn-group .btn a i.fa {
  font-size: 20px;
}

.btn-primary {
  background-color: rgba(0, 0, 0, 0) !important;
  border-color: rgba(0, 0, 0, 0) !important;
}

a,
a:visited,
a:-webkit-any-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

a,
a:visited,
a:-moz-any-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

a,
a:visited,
a:any-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

a:hover,
a:visited:hover,
a:-webkit-any-link:hover {
  color: #0dc1f7;
}

a:hover,
a:visited:hover,
a:-moz-any-link:hover {
  color: #0dc1f7;
}

a:hover,
a:visited:hover,
a:any-link:hover {
  color: #0dc1f7;
}

h2.title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bolder;
  position: relative;
  font-family: "Montserrat", sans-serif;
  color: #0dc1f7;
}

@media (min-width: 1800px) {
  h2.title {
    font-size: 2.3rem;
  }
}

.sub-heading {
  color: #0dc1f7 !important;
  font-size: 1.2rem;
  font-weight: 600 !important;
}

@media (min-width: 1800px) {
  .sub-heading {
    font-size: 2rem;
  }
}

.loading {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.loading img {
  width: 200px;
}

@media (min-width: 1800px) {
  .loading img {
    width: 400px;
  }
}

.landingpage {
  width: 100%;
  min-height: 100vh;
  background-image: url("bg.png");
  background-color: #161a22;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1031;
}

.landingpage .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 10vh;
  top: 0;
  width: 100%;
}

.landingpage .header .header-logo {
  text-align: center;
  margin-left: 30px;
  cursor: pointer;
}

.landingpage .header .header-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.landingpage .header .header-items a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.4rem;
  color: #0dc1f7;
  padding: 0px 1.5rem;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.landingpage .header .header-items a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.landingpage .overlay {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #161a2285;
  z-index: 11;
  text-align: center;
}

.landingpage .overlay .loader {
  z-index: 13;
  background-color: #161a22;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landingpage .overlay h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8);
  font-size: 3rem;
  letter-spacing: 2px;
}

.landingpage .overlay button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.4rem;
  border: 1px solid #0dc1f7;
  display: block;
  border-radius: 50ex;
  padding: 0.6rem 2rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: 20px 20px 6px #00000029;
          box-shadow: 20px 20px 6px #00000029;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 5vh;
}

.landingpage .overlay button:hover {
  background-color: #0dc1f7;
}

.landingpage .overlay button:focus {
  outline: none;
}

@media (max-width: 600px) {
  .landingpage .overlay h2 {
    font-size: 2.7rem;
  }
}

@media (min-width: 1800px) {
  .landingpage .overlay h2 {
    font-size: 4.5rem;
  }
  .landingpage .overlay button {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 2.2rem;
    border: 1px solid #0dc1f7;
    display: block;
    border-radius: 50ex;
    padding: 0.6rem 2rem;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    -webkit-box-shadow: 20px 20px 6px #00000029;
            box-shadow: 20px 20px 6px #00000029;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top: 8vh;
  }
  .landingpage .overlay button:hover {
    background-color: #0dc1f7;
  }
  .landingpage .overlay button:focus {
    outline: none;
  }
}

.navbar {
  background-color: #161a22 !important;
  -webkit-box-shadow: 0px 6px 6px #00000029;
          box-shadow: 0px 6px 6px #00000029;
}

.navbar .navbar-toggler-icon {
  background-image: url("navbar.png");
  width: 40px;
  height: 25px;
}

.navbar .navbar-toggler {
  border: none;
}

.navbar .navbar-toggler:focus {
  outline: none;
}

.navbar .navbar-nav {
  margin-left: auto;
}

.navbar .navbar-nav .nav-item .nav-link {
  color: #0dc1f7;
}

.navbar .navbar-nav .nav-item .nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 1.5px;
  background: #0dc1f7;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.navbar .navbar-nav .nav-item .nav-link:hover::after {
  width: 100%;
}

@media (min-width: 1800px) {
  .navbar .navbar-nav .nav-item {
    font-size: 1.6rem;
    padding: 0.4rem 0.85rem;
  }
}

.container {
  margin-top: 16vh;
}

.container .card-deck .card {
  background-color: #161a22;
  border: 1px solid #0dc1f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  padding: 0.5rem;
}

@media (max-width: 900px) {
  .container {
    max-width: 610px;
  }
}

@media (min-width: 1800px) {
  .container {
    max-width: 1700px;
  }
}

.about {
  width: 100%;
  min-height: 100vh;
}

.about .card-deck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding-top: 1rem;
}

.about .card-deck .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 180px;
  border: 1.5px solid #121212;
}

.about .card-deck .card img {
  height: 50px;
}

.about .card-deck .card p {
  margin-top: 15px;
}

.about iframe {
  border: none;
  width: 100%;
  height: 200px;
}

@media (max-width: 900px) {
  .about .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about .row iframe {
    margin-top: 30px;
    border: none;
    width: 70%;
  }
  .about .card-deck {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .about .card-deck .card {
    width: 150px;
    height: 150px;
    margin-right: 10px;
  }
  .about .card-deck .card p {
    margin-top: 20px;
    font-size: 0.7rem;
  }
}

@media (min-width: 1800px) {
  .about .card-deck {
    margin-top: 18vh !important;
  }
  .about .card-deck .card {
    height: 240px;
  }
  .about .card-deck .card img.icon {
    width: 80px;
    height: 80px;
  }
  .about .card-deck .card p {
    font-size: 1.4rem;
  }
  .about .row .col-sm-8 p,
  .about .row .col-sm-8 a {
    font-size: 1.4rem;
    margin-top: 15px;
  }
  .about .row .col-sm-4 iframe {
    height: 300px;
  }
}

.achievement {
  width: 100%;
  min-height: 100vh;
}

.achievement .row .col-sm-8 .card {
  padding: 5px;
  background-color: #161a22;
  -webkit-box-shadow: 20px 20px 6px #00000029;
          box-shadow: 20px 20px 6px #00000029;
}

.achievement .row .col-sm-8 .card .row .col-sm-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.achievement .row .col-sm-4 {
  padding-top: 25px;
}

.achievement .row .col-sm-4 iframe {
  border: none;
  width: 100%;
  height: 150px;
}

@media (max-width: 900px) {
  .achievement .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .achievement .row .col-sm-4 iframe {
    width: 85%;
    height: 200px;
  }
}

@media (min-width: 1800px) {
  .achievement .row {
    margin-top: 35px;
  }
  .achievement .row .card {
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .achievement .row .card p {
    font-size: 1.4rem;
    margin-top: 30px;
  }
  .achievement .row .col-sm-4 iframe {
    height: 260px;
  }
}

.vehicles {
  width: 100%;
  min-height: 100vh;
}

.vehicles .container .col-sm-3 .list-group {
  background-color: #161a22;
}

.vehicles .container .col-sm-3 .list-group .list-group-item {
  background-color: #161a22 !important;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.vehicles .container .col-sm-3 .list-group .list-group-item:hover {
  color: white;
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.vehicles .container .col-sm-3 .list-group .list-group-item.active {
  border-color: #0dc1f7;
}

.vehicles .container .col-sm-5 {
  height: 65vh;
  overflow-y: hidden;
}

.vehicles .container .col-sm-5 img {
  height: 65vh;
  width: auto;
}

.vehicles .container .col-sm-4 {
  height: 65vh;
}

.vehicles .container .col-sm-4 h5.sub-heading {
  color: #0dc1f7;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-decoration: underline;
}

.vehicles .container .col-sm-4 .nav-tabs {
  border-bottom: none;
}

.vehicles .container .col-sm-4 .nav-tabs li .nav-link.active {
  background-color: #0dc1f7;
  border: none;
  color: rgba(255, 255, 255, 0.8);
}

.vehicles .container .col-sm-4 .nav-tabs li .nav-link {
  border: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.vehicles .container .col-sm-4 .nav-tabs li .nav-link:hover {
  color: #fff;
}

.vehicles .container .col-sm-4 .tab-content {
  margin-top: -60px;
}

.vehicles .container .col-sm-4 .tab-content ul li {
  background-color: #161a22;
}

@media (max-width: 600px) {
  .vehicles .container .row .col-sm-4 {
    margin-top: 1rem;
  }
  .vehicles .container .row .col-sm-5 {
    margin-top: 1rem;
    height: 40vh;
  }
  .vehicles .container .row .col-sm-5 img {
    height: 40vh;
  }
}

.sponsors {
  width: 100%;
  min-height: 100vh;
}

.sponsors .container .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sponsors .container .card-container .cards {
  width: 250px;
  height: 180px;
  border: 1.5px solid #121212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sponsors .container .card-container .cards a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sponsors .container .card-container .cards a img {
  height: 50px;
  max-width: 100%;
}

.sponsors .container .card-container .cards a p {
  margin-top: 10px;
}

.sponsors .container .mentor .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1.5px solid #121212;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #161a22;
  width: 250px;
  height: 180px;
  margin-bottom: 15px;
}

.sponsors .container .mentor .card p {
  margin-top: 10px;
}

@media (max-width: 997px) {
  .sponsors .container .card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-bottom: 50px;
    padding-bottom: 100px;
    width: 100%;
  }
  .sponsors .container .card-container .cards {
    margin-top: 15px;
  }
}

@media (min-width: 1800px) {
  .sponsors .container .card-container .cards {
    width: 400px;
    height: 250px;
  }
  .sponsors .container .card-container .cards a img {
    height: 90px;
    max-width: 100%;
  }
  .sponsors .container .card-container .cards a p {
    margin-top: 30px;
    font-size: 1.6rem;
  }
  .sponsors .container .mentor {
    margin-top: 70px !important;
  }
  .sponsors .container .mentor .card {
    margin-top: 30px;
    width: 400px;
    height: 250px;
  }
  .sponsors .container .mentor .card a img {
    height: 90px;
    max-width: 100%;
  }
  .sponsors .container .mentor .card a p {
    margin-top: 30px;
    font-size: 1.6rem;
  }
}

.posts {
  width: 100%;
  min-height: 100vh;
}

.posts .container .row .modal .modal-dialog .modal-content {
  background-color: #161a22;
}

.posts .container .row .modal .modal-dialog .modal-content .modal-header {
  border-bottom: 0.5px solid #0dc1f7;
}

.posts .container .row .modal .modal-dialog .modal-content .modal-header button.close {
  text-shadow: none;
  color: #0dc1f7;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.posts .container .row .modal .modal-dialog .modal-content .modal-header button.close:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.posts .container .row .instagram-flow {
  height: 75vh !important;
  overflow-x: scroll;
  overflow-y: hidden;
}

.posts .container .row .instagram-flow .instagram-feed {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (300px)[17];
      grid-template-columns: repeat(17, 300px);
  grid-gap: 10px;
  overflow-x: scroll;
}

.posts .container .row .instagram-flow .instagram-feed .instagram-media-rendered {
  overflow-y: auto;
  min-width: 100% !important;
  max-height: 70vh !important;
}

.posts .container .row .flow-control {
  height: 75vh !important;
  position: relative;
}

.posts .container .row .flow-control .row .col-sm-4 .image-wrapper {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  font-size: 0;
}

.posts .container .row .flow-control .row .col-sm-4 img {
  max-width: 100%;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  cursor: pointer;
}

.posts .container .row .flow-control .row .col-sm-4 .image-wrapper:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.posts .container .row .col-sm-3 .list-group {
  background-color: #161a22;
}

.posts .container .row .col-sm-3 .list-group .list-group-item {
  background-color: #161a22 !important;
}

.posts .container .row .col-sm-3 .list-group .list-group-item.active {
  border-color: #0dc1f7;
}

.posts .container .row .col-sm-9 .row .col-sm-6 .youtube {
  height: 170px;
}

.posts .container .row .col-sm-9 .row .col-sm-6 iframe {
  border: none;
  width: 100%;
  margin-top: 10px;
}

.posts .container .row .col-sm-3 .list-group .list-group-item {
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.posts .container .row .col-sm-3 .list-group .list-group-item:hover {
  color: white;
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

@media (max-width: 500px) {
  .posts .container .row .modal .modal-dialog {
    max-width: 300px;
    max-height: 85vh;
  }
  .posts .container .row .modal .modal-dialog .modal-content {
    max-height: 85vh;
  }
  .posts .container .row .modal .modal-dialog .modal-content .modal-body {
    max-height: 85vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .posts .container .row .modal .modal-dialog .modal-content .modal-body img {
    max-height: 200px;
    width: auto;
  }
}

@media (min-width: 1000px) {
  .posts .container .row .modal .modal-dialog {
    max-width: 900px;
    max-height: 85vh;
  }
  .posts .container .row .modal .modal-dialog .modal-content {
    max-height: 85vh;
  }
  .posts .container .row .modal .modal-dialog .modal-content .modal-body {
    max-height: 85vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .posts .container .row .modal .modal-dialog .modal-content .modal-body img {
    max-height: 500px;
    width: auto;
  }
}

@media (min-width: 1800px) {
  .posts .container .row .col-sm-3 ul li {
    font-size: 1.2rem;
  }
  .posts .container .row .modal .modal-dialog {
    max-width: 1300px;
  }
  .posts .container .row .modal .modal-dialog .modal-content .modal-header button.close {
    font-size: 3rem;
  }
  .posts .container .row .modal .modal-dialog .modal-content .modal-body img {
    max-height: 800px;
    width: auto;
  }
}

@media (max-width: 717px) {
  .posts .container .row .flow-control {
    height: 60vh !important;
  }
}

@media (max-width: 550px) {
  .posts .container .row .col-sm-3 {
    margin-bottom: 20px;
  }
}

.teams {
  width: 100%;
  min-height: 100vh;
}

.teams .container .card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 250px 250px 250px 250px 250px;
      grid-template-columns: 250px 250px 250px 250px 250px;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 10px;
  width: 100%;
  overflow-x: auto;
}

.teams .container .card-container .cards {
  width: 250px;
  height: 180px;
  border: 1.5px solid #121212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.teams .container .card-container .cards .card-button {
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.8);
}

.teams .container .card-container .cards .card-button img {
  height: 70px;
}

.teams .container .card-container .cards .card-button:hover {
  color: #0dc1f7;
}

.teams .container .card-container .cards .card-button:focus {
  outline: none;
}

.teams .container .modal .modal-header,
.teams .container .modal .modal-body,
.teams .container .modal .modal-footer {
  background-color: #161a22 !important;
  border-top: 1px solid #161a22;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-align: center;
}

.teams .container .modal .modal-header {
  border-bottom: 0.5px solid #0dc1f7;
}

.teams .container .modal .modal-header button.close {
  text-shadow: none;
  color: #0dc1f7;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.teams .container .modal .modal-header button.close:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.teams .container .modal .modal-body .img-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.teams .container .modal .modal-body .img-flex .profile-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 190px;
  width: 120px;
}

.teams .container .modal .modal-body .img-flex .profile-modal img.profile {
  border-radius: 80em;
  height: 80px;
}

.teams .container .modal .modal-body .img-flex .profile-modal a {
  margin-top: 6px;
}

.teams .container .modal .modal-body .img-flex .profile-modal a i.fa {
  font-size: 1rem;
}

.teams .container .modal .modal-body .img-flex .profile-modal p {
  font-size: 0.85rem;
}

.teams .container .modal .modal-footer button {
  border: 1px solid #0dc1f7;
  display: block;
  border-radius: 50ex;
  padding: 0.6rem 2rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: 20px 20px 6px #00000029;
          box-shadow: 20px 20px 6px #00000029;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.teams .container .modal .modal-footer button:hover {
  background-color: #0dc1f7;
}

.teams .container .modal .modal-footer button:focus {
  outline: none;
}

.teams .container .modal .modal-content {
  background-color: rgba(0, 0, 0, 0);
}

@media (min-width: 1800px) {
  .teams .container .modal .modal-dialog {
    max-width: 1000px;
  }
  .teams .container .card-container {
    -ms-grid-columns: 450px 450px 450px 450px 450px;
        grid-template-columns: 450px 450px 450px 450px 450px;
  }
  .teams .container .card-container .cards {
    width: 450px;
    height: 300px;
  }
  .teams .container .card-container .cards .card-button img {
    height: 140px;
  }
  .teams .container .card-container .cards .card-button p {
    font-size: 1.4rem;
  }
}

@media (min-width: 576px) {
  .pastteam {
    max-width: 800px;
    margin: 2rem auto;
  }
}

@media (max-width: 576px) {
  .modal-dialog {
    margin: 6rem auto;
  }
}

@media (min-width: 1000px) {
  .teams .container .center-cards {
    margin-left: 50%;
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
}

.contact {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.contact .toast {
  margin-top: 12vh;
  z-index: 10000;
}

.contact .row .col-sm-6 .btn-group .btn a i.fa {
  font-size: 25px;
}

.contact .row .form {
  background-color: #161a22;
  -webkit-box-shadow: 20px 20px 6px #00000029;
          box-shadow: 20px 20px 6px #00000029;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.75rem 0rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .row .form div.headliner {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.4rem;
  color: #0dc1f7;
  border: none;
}

.contact .row .form input {
  width: 80%;
  margin: auto;
  margin-top: 2vh;
  padding: 0.75rem 0rem;
  background-color: rgba(0, 0, 0, 0) !important;
  border: none;
  border-bottom: 1px solid #0dc1f7;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.2rem;
}

.contact .row .form input:focus {
  outline: none;
}

.contact .row .form button {
  margin-top: 1.5rem;
  border: 1px solid #0dc1f7;
  display: block;
  border-radius: 50ex;
  padding: 0.6rem 2rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: 20px 20px 6px #00000029;
          box-shadow: 20px 20px 6px #00000029;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.2rem;
}

.contact .row .form button:hover {
  background-color: #0dc1f7;
}

.contact .row .form button:focus {
  outline: none;
}

@media (max-width: 717px) {
  .contact .row .col-sm-6 .form {
    margin-top: 5vh;
  }
}

@media (min-width: 1800px) {
  .contact .row .col-sm-6 .btn-group .btn a i.fa {
    font-size: 40px;
  }
  .contact .row .col-sm-6 p {
    font-size: 1.4rem;
  }
  .contact .row .col-sm-6 iframe {
    height: 500px;
  }
  .contact .row .col-sm-6 .form {
    padding: 5rem 0rem;
  }
  .contact .row .col-sm-6 .form input {
    padding: 1.5rem 0rem;
  }
  .contact .row .col-sm-6 .form button {
    margin-top: 2.5rem;
  }
}

@media (max-width: 1800px) {
  .contact .row .col-sm-6 iframe {
    height: 250px;
  }
}

.footer {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #161a22;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  -webkit-box-shadow: -20px -20px 20px #00000029;
          box-shadow: -20px -20px 20px #00000029;
}

.footer #heart {
  color: #d1046b;
  padding: 0.2rem 0.4rem;
  padding-bottom: 0rem;
}

@media (min-width: 1800px) {
  .footer p {
    font-size: 1.4rem;
  }
}
/*# sourceMappingURL=style.css.map */