::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb:hover {
  background: black;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
  background-color: #161a22;
}

a,
a:visited,
a:-webkit-any-link {
  text-decoration: none;
}

a,
a:visited,
a:-moz-any-link {
  text-decoration: none;
}

a,
a:visited,
a:any-link {
  text-decoration: none;
}

.nav-container {
  position: fixed;
  z-index: 3;
  background-color: #161a22;
  -webkit-box-shadow: 0px 6px 6px #00000029;
          box-shadow: 0px 6px 6px #00000029;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 10vh;
  top: 0;
  width: 100%;
}

.nav-container .nav-logo {
  text-align: center;
  margin-left: 30px;
  cursor: pointer;
}

.nav-container .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav-container .nav-items a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  color: #0dc1f7;
  padding: 0px 1.5rem;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.nav-container .nav-items a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.landingpage {
  width: 100%;
  height: 100vh;
  background-image: url("bg.png");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 10;
}

.landingpage .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 10vh;
  top: 0;
  width: 100%;
}

.landingpage .header .header-logo {
  text-align: center;
  margin-left: 30px;
  cursor: pointer;
}

.landingpage .header .header-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.landingpage .header .header-items a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  color: #0dc1f7;
  padding: 0px 1.5rem;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.landingpage .header .header-items a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.landingpage .overlay {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #161a2285;
  z-index: 11;
  text-align: center;
}

.landingpage .overlay h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8);
  font-size: 2.4rem;
  letter-spacing: 2px;
}

.landingpage .overlay button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.2rem;
  border: 1px solid #0dc1f7;
  display: block;
  border-radius: 50ex;
  padding: 0.6rem 2rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 5vh;
}

.landingpage .overlay button:hover {
  background-color: #0dc1f7;
}

.landingpage .overlay button:focus {
  outline: none;
}

.about {
  width: 100%;
  height: 100vh;
}

.about .container {
  width: 100%;
  margin-top: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .container .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 85%;
  margin: auto;
}

.about .container .info-container .text-container {
  width: 50%;
}

.about .container .info-container .text-container h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  color: #0dc1f7;
  padding: 1rem 0rem;
}

.about .container .info-container .text-container p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.8rem;
}

.about .container .info-container .video iframe {
  border: none;
}

.about .container .cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 85%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 20px auto;
  padding: 20px 0px;
}

.about .container .cards-container .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 130px;
  width: 220px;
  background-color: #161a22;
  -webkit-box-shadow: 20px 20px 6px #00000029;
          box-shadow: 20px 20px 6px #00000029;
  color: rgba(255, 255, 255, 0.8);
}

.about .container .cards-container .cards .icon {
  height: 50px;
  width: auto;
}

.about .container .cards-container .cards p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.8rem;
  padding-top: 1rem;
}

.achievement {
  width: 100%;
  height: 100vh;
}

.achievement .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 20vh;
}

.achievement .container .badge-container {
  width: 100%;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.achievement .container .badge-container .badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 700px;
  height: 180px;
  -webkit-box-shadow: 20px 20px 6px #00000029;
          box-shadow: 20px 20px 6px #00000029;
}

.achievement .container .badge-container .badge .logo {
  padding: 5px;
  width: 20%;
}

.achievement .container .badge-container .badge .logo img {
  width: 100px;
}

.achievement .container .badge-container .badge .text-container {
  width: 80%;
  padding: 0.5rem;
}

.achievement .container .badge-container .badge .text-container h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  color: #0dc1f7;
  padding: 0.3rem 0rem;
}

.achievement .container .badge-container .badge .text-container p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.8rem;
  padding: 0.2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.achievement .container .video-container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.achievement .container .video-container iframe {
  border: none;
}
/*# sourceMappingURL=style.css.map */