@import "./components/scrollbar";

$montserrat: "Montserrat", sans-serif;
$roboto: "Roboto", sans-serif;
$secondary: rgba(255, 255, 255, 0.8);
$primary: #0dc1f7;
$bg: #161a22;
$noopacity: rgba(0, 0, 0, 0);

@mixin fullWidthHeight {
  width: 100%;
  height: 100vh;
}
@mixin displayFlex($justify) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}
@mixin robotoStyle($size) {
  font-family: $roboto;
  font-weight: 400;
  letter-spacing: 1px;
  color: $secondary;
  font-size: $size;
}
@mixin buttonStyle {
  border: 1px solid $primary;
  display: block;
  border-radius: 50ex;
  padding: 0.6rem 2rem;
  cursor: pointer;
  background-color: $noopacity;
  transition: all 0.2s ease-in;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body {
  background-color: $bg;
}

a,
a:visited,
a:any-link {
  text-decoration: none;
}

// NAVBAR
.nav-container {
  position: fixed;
  z-index: 3;
  background-color: $bg;
  box-shadow: 0px 6px 6px #00000029;
  @include displayFlex(space-between);
  min-height: 10vh;
  top: 0;
  width: 100%;
  .nav-logo {
    text-align: center;
    margin-left: 30px;
    cursor: pointer;
  }
  .nav-items {
    @include displayFlex(space-evenly);
    a {
      @include robotoStyle(15px);
      color: $primary;
      padding: 0px 1.5rem;
      transition: all 0.2s ease-in;
      &:hover {
        color: $secondary;
      }
    }
  }
}

//LANDING PAGE

.landingpage {
  @include fullWidthHeight();
  background-image: url("bg.png");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 10;
  .header {
    @include displayFlex(space-between);
    min-height: 10vh;
    top: 0;
    width: 100%;
    .header-logo {
      text-align: center;
      margin-left: 30px;
      cursor: pointer;
    }
    .header-items {
      @include displayFlex(space-evenly);
      a {
        @include robotoStyle(15px);
        color: $primary;
        padding: 0px 1.5rem;
        transition: all 0.2s ease-in;
        &:hover {
          color: $secondary;
        }
      }
    }
  }
  .overlay {
    @include fullWidthHeight();
    @include displayFlex(center);
    flex-direction: column;
    background-color: #161a2285;
    z-index: 11;
    text-align: center;
    h2 {
      font-family: $montserrat;
      font-weight: 700;
      color: $secondary;
      font-size: 2.4rem;
      letter-spacing: 2px;
    }
    button {
      @include robotoStyle(1.2rem);
      @include buttonStyle();
      margin-top: 5vh;
      &:hover {
        background-color: $primary;
      }
      &:focus {
        outline: none;
      }
    }
  }
}

//ABOUT PAGE
.about {
  @include fullWidthHeight();
  .container {
    width: 100%;
    margin-top: 20vh;
    @include displayFlex(space-between);
    flex-direction: column;
    .info-container {
      @include displayFlex(space-between);
      flex-direction: row;
      width: 85%;
      margin: auto;
      .text-container {
        width: 50%;
        h6 {
          @include robotoStyle(1rem);
          color: $primary;
          padding: 1rem 0rem;
        }
        p {
          @include robotoStyle(0.8rem);
        }
      }
      .video {
        iframe {
          border: none;
        }
      }
    }
    .cards-container {
      @include displayFlex(space-evenly);
      width: 85%;
      flex-direction: row;
      margin: 20px auto;
      padding: 20px 0px;
      .cards {
        @include displayFlex(center);
        flex-direction: column;
        height: 130px;
        width: 220px;
        background-color: $bg;
        box-shadow: 20px 20px 6px #00000029;
        color: $secondary;
        .icon {
          height: 50px;
          width: auto;
        }
        p {
          @include robotoStyle(0.8rem);
          padding-top: 1rem;
        }
      }
    }
  }
}

//ACHIEVEMENTS PAGE

.achievement {
  @include fullWidthHeight();
  .container {
    @include displayFlex(space-between);
    width: 90%;
    margin: auto;
    margin-top: 20vh;
    .badge-container {
      width: 100%;
      margin: auto;
      flex-direction: column;
      .badge {
        @include displayFlex(space-between);
        flex-wrap: wrap;
        width: 700px;
        height: 180px;
        box-shadow: 20px 20px 6px #00000029;
        .logo {
          padding: 5px;
          width: 20%;
          img {
            width: 100px;
          }
        }
        .text-container {
          width: 80%;
          padding: 0.5rem;

          h6 {
            @include robotoStyle(1rem);
            color: $primary;
            padding: 0.3rem 0rem;
          }
          p {
            @include robotoStyle(0.8rem);
            padding: 0.2rem;
            flex-wrap: wrap;
          }
        }
      }
    }
    .video-container {
      width: 50%;
      @include displayFlex(space-evenly);
      flex-direction: column;
      iframe {
        border: none;
      }
    }
  }
}
